
#adt-container {
	margin: 2em;
	background: #efefef;
	color: #000; 
	font-size: 12px;
}

#adt-container h1,
#adt-container h2,
#adt-container h3,
#adt-container h4,
#adt-container h5,
#adt-container h6 {
	margin: 0;
	padding: 0;
	margin-top: 3px;
	margin-bottom: 3px;
	color: #a00;
}

#adt-container h1 {
	background: #000;
	color: #efefef;
	font-size: 16px;
	font-style: normal;
	margin: 0;
	padding: 5px;
}

#adt-container h2 {
	font-size: 14px;
	border-bottom: 1px solid gray;  
}

#adt-container h3 {
	font-size: 15px;
}

#adt-container h4 {
	font-size: 14px;
}

#adt-container h5 {
	font-size: 13px;
}

#adt-container dl {
	margin: 0;
	margin-left: 25px;
}
#adt-container dt {
	font-weight: normal;
	color: #800;
}

#adt-container dd {
	margin: 5px 5px 5px 25px;
}

#adt-container pre {
	margin: 0;	
}

#adt-section-log table {
	font-family: "Courier New" Courier monospace;
}

#adt-section-log td.timestamp {
	border-right: 1px solid grey;
}


/**
 * SimpleTabs
 */
.tab-wrapper {
	padding: 0.5em 1em;
	border: 1px solid #bbb;
	clear: both;
}
.tab-menu {
	margin: 0;
	margin-top: 0.5em;
	padding: 0;
	list-style: none;
	overflow: auto;
}
.tab-menu li {
	margin: 0;
	margin-right: 1em;
	padding: 0;
	float: left;
	line-height: 2em;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.tab-menu li a {
	padding: 0 .5em;
	font-weight: bold;
}
.tab-menu li.tab-selected a {
	color: #000;
}